# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
pkg/.Rbuildignore
rtrim.Rproj

# produced vignettes
pkg/vignettes/*.html
pkg/vignettes/*.pdf
.Rproj.user

pkg/man/*.Rd
output/*
